force-app/main/default/flows/Alerts_for_Project_Tracker_for_Business_and_Investment_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CR_change</name>
        <label>CR change</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <actionName>Project_Tracker__c.CR_updates_to_the_Project_Team_Project_Tracker</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Final_Decisionx</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Field_Update</name>
        <label>Field Update</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Project_Tracker__c.Project_Tracker_Field_Change_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_PMR_changex</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Final_decision_to_the_Team</name>
        <label>Final decision to the Team</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <actionName>Project_Tracker__c.Notifying_Project_Tracker_Team_of_Final_Decision</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Project_Ownerx</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_PO_of_assigned_Project</name>
        <label>Notify PO of assigned Project</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <actionName>Project_Tracker__c.Notify_Project_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Project_Team_Memberx</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>notifying_PTM1</name>
        <label>notifying PTM1</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <actionName>Project_Tracker__c.Notifying_of_Project_Team_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Project_Team_Member_2x</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>notifying_PTM2</name>
        <label>notifying PTM2</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <actionName>Project_Tracker__c.Notifying_of_Project_Team_Assignment_PTM_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Project_Team_Member_3x</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>notifying_PTM3</name>
        <label>notifying PTM3</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <actionName>Project_Tracker__c.Notifying_of_Project_Team_Assignment_PTM_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Project_Team_Member4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>notifying_PTM4</name>
        <label>notifying PTM4</label>
        <locationX>50</locationX>
        <locationY>3143</locationY>
        <actionName>Project_Tracker__c.Notifying_of_Project_Team_Assignment_PTM_4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Enter_Expected_start_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PMR_change</name>
        <label>PMR change</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <actionName>Project_Tracker__c.Recommendation_changed_to_Project_Team_Project_Tracker</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_CR_Changes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PO_to_fill_in_Expected_Start_date</name>
        <label>PO to fill in Expected Start date</label>
        <locationX>50</locationX>
        <locationY>3479</locationY>
        <actionName>Project_Tracker__c.Notify_Project_Owner_of_project_stage_and_to_fill_in_Expected_Start_date</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_CR_Changes</name>
        <label>Check CR Changes</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Check_Final_Decisionx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CR_changex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Committee_Recommendation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Committee_Recommendation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_change</targetReference>
            </connector>
            <label>CR change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Final_Decisionx</name>
        <label>Check Final Decision</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Check_Project_Ownerx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Final_Project_Decision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Final_Project_Decision__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_decision_to_the_Team</targetReference>
            </connector>
            <label>Final decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PMR_changex</name>
        <label>Check PMR change</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Check_CR_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMR_changex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Manager_Recommendation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Manager_Recommendation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMR_change</targetReference>
            </connector>
            <label>PMR change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Ownerx</name>
        <label>Check Project Owner</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Check_Project_Team_Memberx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Ownerq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ProjectOwner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ProjectOwner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_PO_of_assigned_Project</targetReference>
            </connector>
            <label>Project Ownerq</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Team_Member4</name>
        <label>Check Project Team Member4</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Enter_Expected_start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTM4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Team_Member_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Team_Member_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Team_Member_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notifying_PTM4</targetReference>
            </connector>
            <label>PTM4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Team_Member_2x</name>
        <label>Check Project Team Member 2</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Check_Project_Team_Member_3x</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTM2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Team_Member_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Team_Member_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Team_Member_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notifying_PTM2</targetReference>
            </connector>
            <label>PTM2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Team_Member_3x</name>
        <label>Check Project Team Member 3</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Check_Project_Team_Member4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTM3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Team_Member_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Team_Member_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Team_Member_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notifying_PTM3</targetReference>
            </connector>
            <label>PTM3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Team_Memberx</name>
        <label>Check Project Team Member</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Check_Project_Team_Member_2x</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTM1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Project_Team_Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Project_Team_Member__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Team_Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notifying_PTM1</targetReference>
            </connector>
            <label>PTM1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_changes</name>
        <label>check the changes</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_PMR_changex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_field_updates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Project_Complexity_Reduction__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Project_Complexity_Reduction__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Cost_Reduction__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Cost_Reduction__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Market_Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Market_Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Estimated_Total_EnggHours__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Estimated_Total_EnggHours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Supplier_Assessment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Supplier_Assessment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Non_Recurring_Costs_Other__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Non_Recurring_Costs_Other__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Manufacturing_Risk_Assesment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Manufacturing_Risk_Assesment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Update</targetReference>
            </connector>
            <label>check field updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enter_Expected_start_date</name>
        <label>Enter Expected start date</label>
        <locationX>182</locationX>
        <locationY>3359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expected_Start_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Plan Phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProjectOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_to_fill_in_Expected_Start_date</targetReference>
            </connector>
            <label>Expected Start date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Alerts for Project Tracker for Business and Investment Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alerts for Project Tracker for Business and Investment Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_the_changes</targetReference>
        </connector>
        <filterFormula>OR ( {!$Record__Prior.Product_Project_Complexity_Reduction__c}  &lt;&gt; {!$Record.Product_Project_Complexity_Reduction__c} ,
{!$Record__Prior.Product_Cost_Reduction__c} &lt;&gt;{!$Record.Product_Cost_Reduction__c},
{!$Record__Prior.Market_Opportunity__c} &lt;&gt;{!$Record.Market_Opportunity__c},
{!$Record__Prior.Non_Recurring_Costs_Other__c}&lt;&gt; {!$Record.Non_Recurring_Costs_Other__c},
{!$Record__Prior.Estimated_Total_EnggHours__c} &lt;&gt;{!$Record.Estimated_Total_EnggHours__c} ,
{!$Record__Prior.Manufacturing_Risk_Assesment__c} &lt;&gt;{!$Record.Manufacturing_Risk_Assesment__c},
{!$Record__Prior.Supplier_Assessment__c} &lt;&gt;{!$Record.Supplier_Assessment__c},
ISCHANGED ( {!$Record.Product_Manager_Recommendation__c} ) ,
ISCHANGED ( {!$Record.Committee_Recommendation__c} ) ,
ISCHANGED ( {!$Record.Final_Project_Decision__c} ) ,
ISCHANGED ( {!$Record.ProjectOwner__c} ) ,
ISCHANGED ( {!$Record.Project_Team_Member__c} ),
ISCHANGED ( {!$Record.Project_Team_Member_2__c} ) ,
ISCHANGED ( {!$Record.Project_Team_Member_3__c} ) ,
ISCHANGED ( {!$Record.Project_Team_Member_4__c} ),
AND ( TEXT({!$Record.Status__c} ) = &apos;Project Plan Phase&apos; , ISBLANK({!$Record.Expected_Start_Date__c}) )
 )</filterFormula>
        <object>Project_Tracker__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
