force-app/main/default/flows/Associate_Field_Service_Territory_with_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>AccCollectionST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_territory_to_the_Account</name>
        <label>Assign Service territory to the Account</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Account_Loop.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_all_accounts_by_FSR</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get all accounts by FSR</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>currentItem_Get_all_accounts_by_FSR_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_all_accounts_by_FSR_0.Field_Service_Rep__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Associate Field Service Territory with Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate Field Service Territory with Account</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_all_accounts_by_FSR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Service_territory_to_the_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_all_accounts_for_that_Service_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_accounts_by_FSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field_Service_Rep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_all_accounts_for_that_Service_Resource</name>
        <label>update all accounts for that Service Resource</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>AccCollectionST</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccCollectionST</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_all_accounts_by_FSR_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
