force-app/main/default/flows/BIR_Holiday_Counter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Holiday_CountBIRResponsedays</name>
        <label>Holiday Count(BIRResponsedays)</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>HolidayCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Holidays_bet_IsssuedDate_and_Response_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Holidays_BIRIssuedDays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Holidays_BIRIssuedDays</name>
        <label>Holidays(BIRIssuedDays)</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>HolidayCounterBIRIssued</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Holidays_between_Bid_recieved_date_and_BIR_Issued_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Holidays_issued_Days_and_AnswerDueDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The Holidays between Issued days and Answer Due Date</description>
        <name>Holidays_issued_Days_and_AnswerDueDate</name>
        <label>Holidays(BIR Answer Due Days)</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>VarHolIssueAnswer</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Holidays_between_BIR_Created_date_and_BIR_Answer_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WeekWorkDays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WeekWorkDays</name>
        <label>WeekWorkDays</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>VarWeekWorkdays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BIRResponseDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBIRIssuedDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BIRIssuedDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBIRIssuedDays</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>HolidayCounterBIRIssued</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarWeekWorkdays</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>HolidayCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBIRIssueandAnswerDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BIRIssueandAnswerDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBIRIssueandAnswerDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>VarHolIssueAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Holiday_Counter</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>BIRAnswerResponseDays</name>
        <dataType>Number</dataType>
        <expression>(5 * ( FLOOR( ( {!$Record.Answer_due_date__c} - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!$Record.Answer_due_date__c} - DATE( 1900, 1, 8), 7 ) ) )
-
(5 * ( FLOOR( (  {!$Record.Response_Date__c} - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!$Record.Response_Date__c}  - DATE( 1900, 1, 8), 7 ) ) )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BIRIssueandAnswerDueDate</name>
        <dataType>Number</dataType>
        <expression>(5 * ( FLOOR( ( {!$Record.Answer_due_date__c} - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!$Record.Answer_due_date__c} - DATE( 1900, 1, 8), 7 ) ) )
-
(5 * ( FLOOR( ( DATEVALUE ( {!$Record.CreatedDate} ) - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( DATEVALUE ( {!$Record.CreatedDate} ) - DATE( 1900, 1, 8), 7 ) ) )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BIRIssuedDays</name>
        <dataType>Number</dataType>
        <expression>(5 * ( FLOOR( ( DATEVALUE ( {!$Record.CreatedDate} ) - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( DATEVALUE ( {!$Record.CreatedDate} ) - DATE( 1900, 1, 8), 7 ) ) )
-
(5 * ( FLOOR( ( DATEVALUE ( {!$Record.Customer_Contract__r.CreatedDate} ) - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( DATEVALUE ( {!$Record.Customer_Contract__r.CreatedDate} ) - DATE( 1900, 1, 8), 7 ) ) )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BIRResponseDays</name>
        <dataType>Number</dataType>
        <expression>(5 * ( FLOOR( ( {!$Record.Response_Date__c} - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!$Record.Response_Date__c} - DATE( 1900, 1, 8), 7 ) ) )
-
(5 * ( FLOOR( ( DATEVALUE ( {!$Record.CreatedDate} ) - DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( DATEVALUE ( {!$Record.CreatedDate} ) - DATE( 1900, 1, 8), 7 ) ) )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>BIR Holiday Counter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BIR Holiday Counter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Holidays_bet_IsssuedDate_and_Response_Date</name>
        <label>Get Holidays bet IssuedDate and Response Date</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Holiday_CountBIRResponsedays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Response_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>company holidays between the contract created date ( Bid recieved date) and the BIR created date( BIR Issued date)</description>
        <name>Get_Holidays_between_Bid_recieved_date_and_BIR_Issued_date</name>
        <label>Get Holidays between Bid recieved date and BIR Issued date</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Holidays_between_BIR_Created_date_and_BIR_Answer_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Contract__r.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the number of holidays between BIR issued(created date) and the Answer Due Date</description>
        <name>get_Holidays_between_BIR_Created_date_and_BIR_Answer_Due_Date</name>
        <label>Get Holidays between BIR Issued date and BIR Answer Due Date</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Holidays_bet_IsssuedDate_and_Response_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Answer_due_date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Holiday_Counter</name>
        <label>Update Holiday Counter</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BIR_Issued_Days__c</field>
            <value>
                <elementReference>VarBIRIssuedDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BIR_Response_days__c</field>
            <value>
                <elementReference>VarWeekWorkdays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Days__c</field>
            <value>
                <elementReference>VarBIRIssueandAnswerDate</elementReference>
            </value>
        </inputAssignments>
        <object>Bid_Information_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Holidays_between_Bid_recieved_date_and_BIR_Issued_date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Bid_Information_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HolidayCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HolidayCounterBIRIssued</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HolidayGapDaysCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAnswerResponseWeekDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarBIRIssueandAnswerDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarBIRIssuedDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarHolIssueAnswer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarWeekWorkdays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
