force-app/main/default/flows/Breakdown_Report_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_bus_breakdown</name>
        <label>Notify bus breakdown</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <actionName>Break_Down_Report__c.bus_breakdown_Report_is_created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Production</name>
        <label>Notify Production</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>Break_Down_Report__c.Notify_Production_plant_of_Bus_breakdown</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_test</name>
        <label>assign test</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Email_fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Return_to_Factory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Factory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_the_picklist</targetReference>
            </connector>
            <label>Status Return to Factory</label>
        </rules>
        <rules>
            <name>Status_Delivered</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bus__r.Delivered_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Date_of_Breakdown__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_close</targetReference>
            </connector>
            <label>Status Delivered</label>
        </rules>
        <rules>
            <name>Other_options</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_location_field</targetReference>
            </connector>
            <label>Other options</label>
        </rules>
        <rules>
            <name>status_delivering</name>
            <conditionLogic>1 AND (  2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bus__r.Delivered_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Date_of_Breakdown__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bus__r.Delivered_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>breakdown_status_is_close</targetReference>
            </connector>
            <label>status delivering or delivered date &lt; breakdown date</label>
        </rules>
        <rules>
            <name>delivering_status_or_bus_delivered_date_breakdown_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bus__r.Delivered_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Date_of_Breakdown__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_to_close</targetReference>
            </connector>
            <label>delivering status or ( bus delivered date &gt; breakdown date)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Breakdown Report Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Breakdown Report Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>breakdown_status_is_close</name>
        <label>breakdown status is close</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Delivering</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>check_the_picklist</name>
        <label>update Breakdown location</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Notify_Production</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>the picklist location or status is livermore factory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Livermore Factory</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Email_fields</name>
        <label>update Email fields</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Notify_bus_breakdown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>$Record.Bus__r.Current_Owner__r.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSR_Email__c</field>
            <value>
                <elementReference>$Record.Bus__r.Current_Owner__r.Field_Service_Rep__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSM_Email__c</field>
            <value>
                <elementReference>$Record.Bus__r.Current_Owner__r.Project_Sales_Manager__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_close</name>
        <label>Update status to close</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_location_field</name>
        <label>update the location field</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_close</name>
        <label>update to close</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_test</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Break_Down_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
