force-app/main/default/flows/Change_Project_Tracker_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PO_to_enter_start_date</name>
        <label>PO to enter start date</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <actionName>Project_Tracker__c.Notify_Project_Owner_of_project_stage_and_to_fill_in_Expected_Start_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PO_to_enter_strat_date</name>
        <label>PO to enter strat date</label>
        <locationX>3922</locationX>
        <locationY>758</locationY>
        <actionName>Project_Tracker__c.Notify_Project_Owner_of_project_stage_and_to_fill_in_Expected_Start_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>check_2_fields</name>
        <label>check 2 fields</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>check_PM_recomendation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_req_fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Project_Scope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_PT_record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_fill_in_fields_before_updating_Status</targetReference>
            </connector>
            <label>Check req fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BSfields</name>
        <label>Check BSfields</label>
        <locationX>2734</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_stage_BCEB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BS_Field</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Benefits_Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BEPlease_fill_in_fields_before_updating_Status</targetReference>
            </connector>
            <label>BS Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Commitee_recommendation</name>
        <label>check Commitee recommendation</label>
        <locationX>4450</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Complete_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_CR_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_stage_AP</targetReference>
            </connector>
            <label>check CR Approved</label>
        </rules>
        <rules>
            <name>check_CR_Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_stage_to_complete_Deferred</targetReference>
            </connector>
            <label>check CR Deferred</label>
        </rules>
        <rules>
            <name>Check_Merge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_final_dec_Merged</targetReference>
            </connector>
            <label>Check Merge</label>
        </rules>
        <rules>
            <name>check_CR_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_stage_to_completecancel</targetReference>
            </connector>
            <label>check CR Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CRfields</name>
        <label>Check CRfields</label>
        <locationX>4054</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>check_Commitee_recommendation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CR_Field</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Committee_Recommendation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRPlease_fill_in_fields_before_updating_Status</targetReference>
            </connector>
            <label>CR Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_current_Stage</name>
        <label>Check current Stage</label>
        <locationX>2954</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Complete_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PPC_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Project Collection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_stage</targetReference>
            </connector>
            <label>PPC stage</label>
        </rules>
        <rules>
            <name>PI_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_check_2_fields</targetReference>
            </connector>
            <label>PI stage</label>
        </rules>
        <rules>
            <name>BCP_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Case Phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_2_fields</targetReference>
            </connector>
            <label>BCP stage</label>
        </rules>
        <rules>
            <name>BCEB_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits_Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_BSfields</targetReference>
            </connector>
            <label>BCEB stage</label>
        </rules>
        <rules>
            <name>EI_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investments/Risks_Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ISfields</targetReference>
            </connector>
            <label>EI stage</label>
        </rules>
        <rules>
            <name>AP_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_CRfields</targetReference>
            </connector>
            <label>AP stage</label>
        </rules>
        <rules>
            <name>PPP_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Plan Phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_date</targetReference>
            </connector>
            <label>PPP stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_date</name>
        <label>check date</label>
        <locationX>5418</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Complete_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>date_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Expected_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_PT_record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_stage_PPP</targetReference>
            </connector>
            <label>date entered with PR</label>
        </rules>
        <rules>
            <name>date_entered_with_CR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Expected_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_PT_record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_stage_PPP</targetReference>
            </connector>
            <label>date entered with CR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ISfields</name>
        <label>Check ISfields</label>
        <locationX>3262</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_stage_BCEI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Field</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Investments_Risks_Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IRPlease_fill_in_fields_before_updating_Status</targetReference>
            </connector>
            <label>IS Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_PM_recomendation</name>
        <label>check PM recomendation</label>
        <locationX>1766</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Complete_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_PMR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_stage_to_PPP</targetReference>
            </connector>
            <label>check PMR Approved</label>
        </rules>
        <rules>
            <name>Check_PMR_Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_stage_to_completecancelled</targetReference>
            </connector>
            <label>Check PMR Deferred</label>
        </rules>
        <rules>
            <name>Check_PMR_Merged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_stageD</targetReference>
            </connector>
            <label>Check PMR Merged</label>
        </rules>
        <rules>
            <name>check_PMR_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_stage_to_complete</targetReference>
            </connector>
            <label>check PMR Denied</label>
        </rules>
        <rules>
            <name>check_PMR_Approved_needs_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted - Needs Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_stage_BCP</targetReference>
            </connector>
            <label>check PMR Approved - needs Evaluation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_2_fields</name>
        <label>Copy 1 of check 2 fields</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_stage_PI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProposedProjectScope</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_PT_record.Proposed_Project_Scope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Please_fill_in_fields_before_updating_Status</targetReference>
            </connector>
            <label>Check ProposedPS fields</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ANE_ApprovedDate</name>
        <dataType>String</dataType>
        <expression>{!get_PT_record.Project_Name__c}&amp; &quot; project is &quot; &amp; TEXT({!get_PT_record.Committee_Recommendation__c}) &amp; &quot; with Expected start date &quot; &amp; TEXT ( {!get_PT_record.Expected_Start_Date__c} )</expression>
    </formulas>
    <formulas>
        <name>ApprovedDatePPP</name>
        <dataType>String</dataType>
        <expression>{!get_PT_record.Project_Name__c}&amp; &quot; project is &quot; &amp; TEXT({!get_PT_record.Product_Manager_Recommendation__c}) &amp; &quot; with Expected start date &quot; &amp; TEXT ( {!get_PT_record.Expected_Start_Date__c} )</expression>
    </formulas>
    <formulas>
        <name>complete</name>
        <dataType>String</dataType>
        <expression>&quot;Stage is complete and moving to the Next&quot;</expression>
    </formulas>
    <formulas>
        <name>daystocomplete</name>
        <dataType>Number</dataType>
        <expression>{!get_PT_record.Complete_Date__c}  - {!get_PT_record.PI_stage_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalprodecision</name>
        <dataType>String</dataType>
        <expression>{!get_PT_record.Project_Name__c} &amp; &quot; project  is &quot; &amp; TEXT( {!get_PT_record.Committee_Recommendation__c})</expression>
    </formulas>
    <formulas>
        <name>ProjectCancelled</name>
        <dataType>String</dataType>
        <expression>{!get_PT_record.Project_Name__c} &amp; &quot; project  is &quot; &amp; TEXT({!get_PT_record.Product_Manager_Recommendation__c})</expression>
    </formulas>
    <formulas>
        <name>Projectdeferred</name>
        <dataType>String</dataType>
        <expression>{!get_PT_record.Project_Name__c}&amp; &quot; project is &quot; &amp; TEXT({!get_PT_record.Product_Manager_Recommendation__c})</expression>
    </formulas>
    <formulas>
        <name>ProjectMerged</name>
        <dataType>String</dataType>
        <expression>{!get_PT_record.Project_Name__c}&amp; &quot; project is &quot; &amp; TEXT({!get_PT_record.Product_Manager_Recommendation__c})</expression>
    </formulas>
    <interviewLabel>Project Tracker Stage Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Project Tracker Stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_PT_record</name>
        <label>get PT record</label>
        <locationX>2954</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_current_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_stage_PPP</name>
        <label>Copy 1 of Update stage PPP</label>
        <locationX>5418</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>ANE_ApprovedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_final_dec_Merged</name>
        <label>update final dec Merged</label>
        <locationX>4450</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>finalprodecision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage</name>
        <label>Update stage</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Project Collection</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PI_stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preliminary Investigation</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_AP</name>
        <label>Update stage AP</label>
        <locationX>3922</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>PO_to_enter_strat_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Phase</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_BCEB</name>
        <label>Update stage BCEB</label>
        <locationX>2866</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benefits_Evaluation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Investments/Risks_Evaluation</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_BCEI</name>
        <label>Update stage BCEI</label>
        <locationX>3394</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investments/Risks_Evaluation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approval Phase</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_BCP</name>
        <label>Update stage BCP</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Case Phase</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Benefits_Evaluation</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_PI</name>
        <label>Update stage PI</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preliminary Investigation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Business Case Phase</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_PPP</name>
        <label>Update stage PPP</label>
        <locationX>5154</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>ApprovedDatePPP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_stage_to_complete</name>
        <label>update stage to complete</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>ProjectCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_stage_to_complete_Deferred</name>
        <label>update stage to complete Deferred</label>
        <locationX>4186</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>finalprodecision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_stage_to_completecancel</name>
        <label>update stage to completecancelled</label>
        <locationX>4714</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>finalprodecision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_stage_to_completecancelled</name>
        <label>update stage to complete</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>Projectdeferred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_stage_to_PPP</name>
        <label>update stage to PPP</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>PO_to_enter_start_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stageD</name>
        <label>Update stage to complete</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Complete_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PT_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>ProjectMerged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Tracker__c</object>
    </recordUpdates>
    <screens>
        <name>BEPlease_fill_in_fields_before_updating_Status</name>
        <label>BEPlease fill in fields before updating Status</label>
        <locationX>2602</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_CheckFields</name>
            <fieldText>&lt;p&gt;Please fill in Fields before updating to the Investments/Risks Phase -&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Benefits Summary&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Previous</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_Stage</name>
        <label>Complete Stage</label>
        <locationX>2954</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete_Stage_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Complete_Stage_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nextStageMessage</name>
                    <fieldText>&lt;p&gt;&quot;&lt;span style=&quot;font-size: 13px;&quot;&gt;Complete &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!get_PT_record.Status__c} (&lt;/strong&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Current Stage)&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; and move to the &lt;/span&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Next Stage &quot; &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next Stage</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Please_fill_in_fields_before_updating_Status</name>
        <label>Copy 1 of Please fill in fields before updating Status</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProposedProjectScopeField</name>
            <fieldText>&lt;p&gt;Please fill in Field before updating to the Bussiness Case Phase -&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Proposed Project Scope&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Previous</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CRPlease_fill_in_fields_before_updating_Status</name>
        <label>CRPlease fill in fields before updating Status</label>
        <locationX>3658</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_CheckFields</name>
            <fieldText>&lt;p&gt;Please fill in Field below before updating to the Project Plan Phase-&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Committee Recommendations&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Previous</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IRPlease_fill_in_fields_before_updating_Status</name>
        <label>IRPlease fill in fields before updating Status</label>
        <locationX>3130</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CheckISFields</name>
            <fieldText>&lt;p&gt;Please fill in Fields before updating to the Approval Phase -&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Investments / Risks  Summary&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Previous</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_fill_in_fields_before_updating_Status</name>
        <label>Please fill in fields before updating Status</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CheckFields</name>
            <fieldText>&lt;p&gt;Please fill in Fields before updating to the Benefits/Evaluation Phase -&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Project Scope&lt;/li&gt;&lt;li&gt;Product Manager Recommendations&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Previous</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2828</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_PT_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Tracker__c</objectType>
    </variables>
</Flow>
