force-app/main/default/flows/Clone_Service_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_SRId</name>
        <label>Assign SRId</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>SRId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_service_request</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Clone Service Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Service Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_new_Service_request</name>
        <label>Create new Service request</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Bus__c</field>
            <value>
                <elementReference>SRId.Bus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>SRId.Mileage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>SRId.Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDI_Plan__c</field>
            <value>
                <elementReference>SRId.PDI_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>SRId.Service_Appointment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Plan__c</field>
            <value>
                <elementReference>SRId.Training_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>SRId.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIN_Number__c</field>
            <value>
                <elementReference>SRId.VIN_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>SRId.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Plan_type__c</field>
            <value>
                <elementReference>SRId.Work_Plan_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Type__c</field>
            <value>
                <elementReference>SRId.Work_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Bus_Work_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_service_request</name>
        <label>get service request</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_Service_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRId.Id</elementReference>
            </value>
        </filters>
        <object>Bus_Work_Order__c</object>
        <outputReference>SRId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Service_Appointment__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Bus__c</queriedFields>
        <queriedFields>Mode__c</queriedFields>
        <queriedFields>Mileage__c</queriedFields>
        <queriedFields>VIN_Number__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Plan_type__c</queriedFields>
        <queriedFields>Work_Type__c</queriedFields>
        <queriedFields>PDI_Plan__c</queriedFields>
        <queriedFields>Training_Classes__c</queriedFields>
        <queriedFields>Training_Plan__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_SRId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus_Work_Order__c</objectType>
    </variables>
</Flow>
