force-app/main/default/flows/Create_Supplier_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Customer_Contract</name>
        <choiceText>Customer Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Line</name>
        <choiceText>Opportunity Line</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Line</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Order</name>
        <choiceText>Sales Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Order</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Quote_Applicability_Decision</name>
        <label>Quote Applicability Decision</label>
        <locationX>441</locationX>
        <locationY>689</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Customer_Contract_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Applicability2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Contracts</targetReference>
            </connector>
            <label>Customer Contract Chosen</label>
        </rules>
        <rules>
            <name>Opportunity_Line_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Applicability2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity Line</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Opportunity_Lines</targetReference>
            </connector>
            <label>Opportunity Line Chosen</label>
        </rules>
        <rules>
            <name>Sales_Order_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Applicability2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Sales_Orders</targetReference>
            </connector>
            <label>Sales Order Chosen</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>searchContracts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Text</elementReference>
            </value>
        </filters>
        <object>Customer_Contract__c</object>
        <outputAssignments>
            <assignToReference>varSelectedContractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerName</assignToReference>
            <field>Lead_Agency__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SearchOpportunityLines</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Text</elementReference>
            </value>
        </filters>
        <object>Opportunity_Line__c</object>
        <outputAssignments>
            <assignToReference>varCustomerName</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedOppLineId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityLineName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SearchSalesOrders</name>
        <dataType>String</dataType>
        <displayField>Search_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Search_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Text</elementReference>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <outputAssignments>
            <assignToReference>varCustomerName</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedSalesOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSalesOrderName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Search_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SearchSuppliers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Supplier</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarSupplierId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarSupplierInternalName</assignToReference>
            <field>Internal_Name__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Supplier Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Supplier Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>447</locationX>
        <locationY>378</locationY>
        <assignRecordIdToReference>QuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>Quote_Date__c</field>
            <value>
                <elementReference>Quote_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Details__c</field>
            <value>
                <elementReference>Quote_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>VarSupplierId</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Opportunity_Line_Junction</name>
        <label>Create Quote/Opportunity Line Junction</label>
        <locationX>966</locationX>
        <locationY>925</locationY>
        <connector>
            <targetReference>Update_Account_OppLine</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Line__c</field>
            <value>
                <elementReference>varSelectedOppLineId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Quote_Opp_Line__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Sales_Order_Junction</name>
        <label>Create Quote/Sales Order Junction</label>
        <locationX>448</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Account_Sales_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>varSelectedSalesOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Quote_Sales_Order__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account_OppLine</name>
        <label>Update Account (OppLine)</label>
        <locationX>968</locationX>
        <locationY>1038</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varCustomerName</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Sales_Order</name>
        <label>Update Account (Sales Order)</label>
        <locationX>448</locationX>
        <locationY>1033</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varCustomerName</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_with_Contract</name>
        <label>Update Quote with Contract</label>
        <locationX>99</locationX>
        <locationY>951</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varCustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contract__c</field>
            <value>
                <elementReference>varSelectedContractId</elementReference>
            </value>
        </inputAssignments>
        <object>Supplier_Quote__c</object>
    </recordUpdates>
    <screens>
        <name>New_Vendor_Quote</name>
        <label>New Vendor Quote</label>
        <locationX>448</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Supplier_Lookup</targetReference>
        </connector>
        <fields>
            <name>Supplier</name>
            <dataType>String</dataType>
            <fieldText>Supplier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quote_Date</name>
            <dataType>Date</dataType>
            <fieldText>Quote Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quote_Details</name>
            <fieldText>Quote Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Contracts</name>
        <label>Search Contracts</label>
        <locationX>102</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Quote_with_Contract</targetReference>
        </connector>
        <fields>
            <name>Matching_Contracts</name>
            <choiceReferences>searchContracts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Contracts</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Opportunity_Lines</name>
        <label>Search Opportunity Lines</label>
        <locationX>967</locationX>
        <locationY>797</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quote_Opportunity_Line_Junction</targetReference>
        </connector>
        <fields>
            <name>Matching_Opportunity_Lines</name>
            <choiceReferences>SearchOpportunityLines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Opportunity Lines</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Sales_Orders</name>
        <label>Search Sales Orders</label>
        <locationX>445</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quote_Sales_Order_Junction</targetReference>
        </connector>
        <fields>
            <name>Matching_Sales_Orders</name>
            <choiceReferences>SearchSalesOrders</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Sales Orders</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Record</name>
        <label>Select Record</label>
        <locationX>447</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quote_Applicability_Decision</targetReference>
        </connector>
        <fields>
            <name>Quote_Applicability2</name>
            <choiceReferences>Customer_Contract</choiceReferences>
            <choiceReferences>Opportunity_Line</choiceReferences>
            <choiceReferences>Sales_Order</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quote Applicability</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Search_Text</name>
            <dataType>String</dataType>
            <fieldText>Search Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supplier_Lookup</name>
        <label>Supplier Lookup</label>
        <locationX>445</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <fields>
            <name>Matching_Suppliers</name>
            <choiceReferences>SearchSuppliers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Suppliers</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>447</locationX>
        <locationY>470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Record</targetReference>
        </connector>
        <fields>
            <name>UploadQuote</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Quote Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>QuoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Vendor_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContractName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityLineName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSalesOrderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedOppLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedSalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarSupplierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarSupplierInternalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
