force-app/main/default/flows/Create_PDI_BWO_In_Service_Acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create PDI BWO In Service Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PDI BWO In Service Acceptance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Acceptance_Form</name>
        <label>Create Acceptance Form</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_In_Service_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Work_Order__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bus_Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buses__c</field>
            <value>
                <elementReference>$Record.Bus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Bus_Acceptance_Letter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_In_Service_Form</name>
        <label>Create In Service Form</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Work_Order__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bus_Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bus__c</field>
            <value>
                <elementReference>$Record.Bus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Acknowledgment_of_Bus_In_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Acceptance_Form</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Plan_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDI</stringValue>
            </value>
        </filters>
        <object>Bus_Work_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
