force-app/main/default/flows/Create_PDI_BWOs_from_WO_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_BWOs_to_Collection</name>
        <label>Assign BWOs to Collection</label>
        <locationX>490</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>BWORecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignBWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bus_List_for_Qmore_than_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BWOVar</name>
        <label>Assign BWOVar</label>
        <locationX>490</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AssignBWO.Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bus_List_for_Qmore_than_10.Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.VIN_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bus_List_for_Qmore_than_10.VIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Work_Plan_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Bus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bus_List_for_Qmore_than_10.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BWOs_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BWOVars</name>
        <label>Assign BWOVars</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AssignBWO.Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bus_Work_Order.Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.VIN_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bus_Work_Order.VIN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Work_Plan_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignBWO.Bus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bus_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_BWO_record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_BWO_record_Collection</name>
        <label>Assign to BWO record Collection</label>
        <locationX>138</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>BWORecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignBWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bus_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuantity</name>
        <label>AssignQuantity</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>BusQuantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Bus_records_for_Sales_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_with_Q</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Bus_List</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Bus List</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNextValueToReference>currentItem_Bus_List_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Bus_records_for_Sales_Order</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Bus_Work_Order</targetReference>
        </connector>
        <formula>OR (  {!currentItem_Bus_List_0.Name} = TEXT ( VALUE ( {!currentItem_Bus_List_0.Name}) + {!BusQuantity}) ,
 {!currentItem_Bus_List_0.Name} &lt;  TEXT( VALUE ( {!currentItem_Bus_List_0.Name}) + {!BusQuantity} ) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>filter_the_first_10_Buses</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter the first 10 Buses</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignNextValueToReference>currentItem_filter_the_first_10_Buses</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Bus_records_for_Sales_Order</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_the_first_10_Buses.Sequence__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <numberValue>1.0</numberValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_filter_the_first_10_Buses.Sequence__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>10.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bus_List_for_Qmore_than_10</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_BusQuantity</name>
        <label>Check BusQuantity</label>
        <locationX>226</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>filter_the_first_10_Buses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_BusQuantity_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transfer_Quantity__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bus_List</targetReference>
            </connector>
            <label>If BusQuantity less than or equal to 10</label>
        </rules>
    </decisions>
    <description>Creates SRs from the quantity of the Sales Order selected in the Work Order when the work type is PDI</description>
    <environments>Default</environments>
    <interviewLabel>Create BWOs from {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PDI SRs from WO Quantity</label>
    <loops>
        <name>Bus_List_for_Qmore_than_10</name>
        <label>Bus List for Q more than 10</label>
        <locationX>402</locationX>
        <locationY>1175</locationY>
        <collectionReference>filter_the_first_10_Buses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BWOVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bus_Work_Order</name>
        <label>Bus Work Order</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <collectionReference>Bus_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BWOVars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create BWO</label>
        <locationX>226</locationX>
        <locationY>1727</locationY>
        <inputReference>BWORecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Bus_records_for_Sales_Order</name>
        <label>Get Bus records for Sales Order</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSalesOrderRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the related Service Appointment</description>
        <name>get_Service_Appointment</name>
        <label>get Service Appointment</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSalesOrderRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesOrderRecord</name>
        <label>getSalesOrderRecord</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bus_records_for_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order_LU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_with_Q</name>
        <label>update with Q</label>
        <locationX>226</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Check_BusQuantity</targetReference>
        </connector>
        <inputAssignments>
            <field>Transfer_Quantity__c</field>
            <value>
                <elementReference>BusQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Service_Appointment</targetReference>
        </connector>
        <filterFormula>AND (  NOT ( ISBLANK({!$Record.Sales_Order_LU__r.Id})), {!$Record.WorkType.Name} = &quot;PDI&quot;,  OR ({!$Record.Sales_Order_LU__r.Id} &lt;&gt;{!$Record__Prior.Sales_Order_LU__r.Id} ) )</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignBWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus_Work_Order__c</objectType>
    </variables>
    <variables>
        <name>Bus10List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <description>Assigning the Bus from the Sales Order into the BWO</description>
        <name>BusBWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BWORecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus_Work_Order__c</objectType>
    </variables>
    <variables>
        <name>CreateBWO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bus_Work_Order__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Bus_List_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>currentItem_BWO_list_for_first_10_buses_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filter_the_first_10_Buses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>FirstBusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.tSales_Order__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ModeBWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
