force-app/main/default/flows/File_Ownership_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>get_File_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_file_with_Owner</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>File Ownership Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File Ownership Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_File_Record</name>
        <label>get File Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_File_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_file_with_Owner</name>
        <label>update file with Owner</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>get_File_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_File_Owner</name>
        <label>Change File Owner</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Owner</targetReference>
        </connector>
        <fields>
            <name>ChangeOwner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Change File &lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Owner&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transferownership</name>
            <fieldText>&lt;p&gt;Transfer Ownership of &lt;strong&gt;{!get_File_Record.Title} &lt;/strong&gt;of {&lt;strong&gt;!get_File_Record.FileExtension}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Owner</name>
            <choiceReferences>Users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Transfer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_File_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
