force-app/main/default/flows/Flow_Notify_Client_of_Bus_Breakdown.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifying_Client_of_Bus_Breakdown</name>
        <label>Notifying Client of Bus Breakdown</label>
        <locationX>242</locationX>
        <locationY>984</locationY>
        <actionName>Break_Down_Report__c.Notifying_Client_of_Bus_Breakdown</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <collectionProcessors>
        <name>FilteredList</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FilteredList</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignNextValueToReference>currentItem_FilteredList</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Bus_Delivery_contact_Infor_from_Contacts</collectionReference>
        <conditionLogic>1 OR 2 OR 3</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilteredList.Contact_Lists__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Bus Delivery Contact</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilteredList.Contact_Lists__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Contract Correspondent</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilteredList.Contact_Lists__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Bus Shipment Notification</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LoopFilteredContactList</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_is_delivered</name>
        <label>check is deliver status</label>
        <locationX>374</locationX>
        <locationY>864</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_delivered_date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delivering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Repaired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notifying_Client_of_Bus_Breakdown</targetReference>
            </connector>
            <label>check deliver</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow Notify Client of Bus Breakdown {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Notify Client of Bus Breakdown</label>
    <loops>
        <name>LoopFilteredContactList</name>
        <label>LoopFilteredContactList</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <collectionReference>FilteredList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_the_email_field_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_is_delivered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bus_Delivery_contact_Infor_from_Contacts</name>
        <label>Get Bus Delivery contact Infor from Contacts</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilteredList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Bus__r.Current_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_email_field_0</name>
        <label>Update the email field</label>
        <locationX>462</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>LoopFilteredContactList</targetReference>
        </connector>
        <inputAssignments>
            <field>Bus_delivery_contact_Email__c</field>
            <value>
                <elementReference>LoopFilteredContactList.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contact_Name__c</field>
            <value>
                <elementReference>LoopFilteredContactList.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula> isnew()</filterFormula>
        <object>Break_Down_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Email_Alert_to_Notify_Client_of_Bus_Breakdown</name>
            <connector>
                <targetReference>Get_Bus_Delivery_contact_Infor_from_Contacts</targetReference>
            </connector>
            <label>Email Alert to Notify Client of Bus Breakdown</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Date_of_Breakdown__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FilteredList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
