force-app/main/default/flows/New_Customer_Care_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>setCaseClosed</name>
        <label>setCaseClosed</label>
        <locationX>701</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>caseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Case_Resolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewComtact</name>
        <label>SetNewComtact</label>
        <locationX>526</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>FindAPerson.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isCaseResolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusInvestigate</name>
        <label>setStatusInvestigate</label>
        <locationX>981</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>caseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Investigate Cause</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Case_Resolved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>busCase</name>
        <label>busCase</label>
        <locationX>1018</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>Attachments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>busOnCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusForCase.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_bus_join</targetReference>
            </connector>
            <label>busOnCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCaseResolved</name>
        <label>isCaseResolved</label>
        <locationX>682</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>setStatusInvestigate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>setStatusClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCaseClosed</targetReference>
            </connector>
            <label>setStatusClosed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create new Contact</description>
        <name>newContact</name>
        <label>newContact</label>
        <locationX>427</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>isCaseResolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contactNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindAPerson.recordName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact</targetReference>
            </connector>
            <label>contactNotFound</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllContactsFound</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AllContactsFound</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>caseOriginPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>2 AND (1 OR 3)</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warranty</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ChoseRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <description>Has a correction been identified</description>
        <name>HasCorrection</name>
        <dataType>Boolean</dataType>
        <expression>or(not(isblank(trim({!Correction}))),not(isnull({!Correction})))</expression>
    </formulas>
    <formulas>
        <name>thisUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Manager of current user</description>
        <name>thisUserMgr</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerId}</expression>
    </formulas>
    <formulas>
        <description>Role of the current user</description>
        <name>thisUserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>New Customer Care Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Care Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_bus_join</name>
        <label>Create bus join</label>
        <locationX>1135</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>Attachments</targetReference>
        </connector>
        <inputAssignments>
            <field>Bus__c</field>
            <value>
                <elementReference>BusForCase.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Issue__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Reported__c</field>
            <value>
                <elementReference>Current_Mileage</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Bus_Junction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Case_Resolved</name>
        <label>Create new Case Resolved</label>
        <locationX>893</locationX>
        <locationY>515</locationY>
        <assignRecordIdToReference>caseCreated.Id</assignRecordIdToReference>
        <connector>
            <targetReference>busCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Bus_Mileage__c</field>
            <value>
                <elementReference>Current_Mileage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bus_Number__c</field>
            <value>
                <elementReference>BusForCase.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <elementReference>Cause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correction__c</field>
            <value>
                <elementReference>Correction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact__c</field>
            <value>
                <elementReference>FindAPerson.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Number__c</field>
            <value>
                <elementReference>Part_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ChoseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>caseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContact</name>
        <label>CreateNewContact</label>
        <locationX>433</locationX>
        <locationY>599</locationY>
        <assignRecordIdToReference>newContactID</assignRecordIdToReference>
        <connector>
            <targetReference>SetNewComtact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>newContAcct.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>newContEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>newContName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>newContName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>NewContPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>newContName.salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>Attachments</name>
        <label>Attachments</label>
        <locationX>1339</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FilesAttached</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Files or Pictutres</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseCreated.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create a new Case</description>
        <name>CreateNewCase</name>
        <label>Create new Case</label>
        <locationX>296</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>newContact</targetReference>
        </connector>
        <fields>
            <name>FindAPerson</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Complaint</name>
            <dataType>String</dataType>
            <fieldText>Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cause</name>
            <fieldText>Cause</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Correction</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Correction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close</name>
            <dataType>Boolean</dataType>
            <fieldText>Close</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BusForCase</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Bus_Requested__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bus</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Bus_Hold_Request__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Current_Mileage</name>
            <dataType>Number</dataType>
            <fieldText>Current Mileage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Part_Number</name>
            <dataType>String</dataType>
            <fieldText>Part Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>caseOriginPickList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>CaseRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>433</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateNewContact</targetReference>
        </connector>
        <fields>
            <name>newContName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName, Title</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NewContPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>newContEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>newContAcct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>69</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>CreateNewCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ccCaseText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!ccCase.Subject}&lt;/p&gt;&lt;p&gt;{!ccCase.Customer_Contact__c}&lt;/p&gt;&lt;p&gt;{!ccCase.Origin}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>thisUser</elementReference>
        </value>
    </variables>
    <variables>
        <name>caseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ccCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The Record Type selected for this case</description>
        <name>ChoseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindAvailableContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PossibleContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
