force-app/main/default/flows/New_Project_Tracker_created_and_assigned_to_Product_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Project_created_and_Assigned</name>
        <label>New Project created and Assigned</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Project_Tracker__c.New_Project_created_and_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>New Project Tracker created and assigned to Product Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Project Assigned to PM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>add_Product_Manager_Nasim</name>
        <label>add Product Manager Nasim</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>New_Project_created_and_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Product_Manager__c</field>
            <value>
                <stringValue>0056O00000Awz7lQAB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>add_Product_Manager_Nasim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Project_Tracker__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
