force-app/main/default/flows/OAR_Update_Customer_Care_Comment_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_new_OAR_Record_is_created</name>
        <label>A new OAR Record is created</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Option_Approval_Request__c.New_OAR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>OAR_Status_Approved</name>
        <label>OAR Status Approved</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <actionName>Option_Approval_Request__c.OAR_Status_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Statuc_change_to_reviewing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Status_Change</name>
        <label>Record Status Change</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>Option_Approval_Request__c.OAR_Status_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Status_Change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>get_Holiday_count</name>
        <label>get Holiday count</label>
        <locationX>50</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>gilligHolidays</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Holidays_counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>review_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>review_days</name>
        <label>review days</label>
        <locationX>50</locationX>
        <locationY>3155</locationY>
        <assignmentItems>
            <assignToReference>$Record.OARtimelog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>weekworkdays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_OAR_time_log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_both_date_fields</name>
        <label>check both date fields</label>
        <locationX>182</locationX>
        <locationY>2831</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>calculate_Review_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Status_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complete_Status_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Holidays_counter</targetReference>
            </connector>
            <label>calculate Review days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Engg_comment_field</name>
        <label>Check the Engg comment field</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>check_both_date_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Enggfields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Engineering_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Engineering_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnggComment_date</targetReference>
            </connector>
            <label>check Engg comment fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_new</name>
        <label>check new</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Request_date</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_changed_field</name>
        <label>check the customer care comments field</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>check_the_publication_comment_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Care_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Care_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_with_date</targetReference>
            </connector>
            <label>check field</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_publication_comment_field</name>
        <label>check the publication comment field</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Check_Engg_comment_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publications_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Publications_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PublicationComment_date</targetReference>
            </connector>
            <label>check fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Status_Change</name>
        <label>Status Change Approve</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Statuc_change_to_reviewing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OAR_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OAR_Status_Approved</targetReference>
            </connector>
            <label>Check Status Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>OAR_tracking</name>
        <label>OAR tracking</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>check_the_changed_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_changes</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Status_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disapprove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>See Details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_complete_date</targetReference>
            </connector>
            <label>Status change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Statuc_change_to_reviewing</name>
        <label>Status change to reviewing</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>OAR_tracking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Rev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Review_status_date_field</targetReference>
            </connector>
            <label>Status Reviewing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OAR_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OAR_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OAR_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Status_Change</targetReference>
            </connector>
            <label>Check Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OARdays</name>
        <dataType>Number</dataType>
        <expression>(5 * ( FLOOR( ( {!$Record.Complete_Status_Date__c}- DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!$Record.Complete_Status_Date__c}- DATE( 1900, 1, 8), 7 ) ) )
-
(5 * ( FLOOR( (  {!$Record.Review_Status_Date__c}- DATE( 1900, 1, 8) ) / 7 ) ) + MIN( 5, MOD( {!$Record.Review_Status_Date__c}- DATE( 1900, 1, 8), 7 ) ) )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>weekworkdays</name>
        <dataType>Number</dataType>
        <expression>{!OARdays}-{!gilligHolidays}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>OAR Update Customer Care Comment Date {!$Flow.CurrentDateTime}
post a message to Related User{!$Flow.CurrentDate}</interviewLabel>
    <label>OAR New,Update Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Holidays_counter</name>
        <label>Holidays counter</label>
        <locationX>50</locationX>
        <locationY>2939</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Holiday_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Review_Status_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Complete_Status_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>EnggComment_date</name>
        <label>Engg Comment date</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>check_both_date_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Engineering__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PublicationComment_date</name>
        <label>Publication Comment date</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Check_Engg_comment_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Publication_Comment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_complete_date</name>
        <label>update complete date</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>check_the_changed_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Complete_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_OAR_time_log</name>
        <label>update OAR time log</label>
        <locationX>50</locationX>
        <locationY>3263</locationY>
        <inputAssignments>
            <field>OARtimelog__c</field>
            <value>
                <elementReference>weekworkdays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Request_date</name>
        <label>update Request date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>A_new_OAR_Record_is_created</targetReference>
        </connector>
        <inputAssignments>
            <field>Request_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Review_status_date_field</name>
        <label>update Review status date field</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>OAR_tracking</targetReference>
        </connector>
        <inputAssignments>
            <field>Review_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_with_date</name>
        <label>update Customer Care Comment date</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>check_the_publication_comment_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Care_Comment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_new</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Customer_Care_Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Publications_Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OAR_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Engineering_Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Option_Approval_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>gilligHolidays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
