force-app/main/default/flows/PO_Splits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>check_Quantity_to_Split_at</name>
        <label>check Quantity to Split at</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>UpdateCurrentPO_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Quantity_to_Split</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetProductionOrderToSplit.Q__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quantity_to_Split_at</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProductionOrderToSplit.Q__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Quantity_to_Split_at</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity_to_Split_at</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_in_Split_Quantity</targetReference>
            </connector>
            <label>Check Quantity to Split</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastSerialNumber</name>
        <dataType>String</dataType>
        <expression>TEXT ( ABS (VALUE ( {!newProductionOrder} ) ) +{!newQuantityfromOSO})</expression>
    </formulas>
    <formulas>
        <name>newProductionOrder</name>
        <dataType>String</dataType>
        <expression>TEXT(  ABS( VALUE ({!GetProductionOrderToSplit.Name}) ) + {!Quantity_to_Split_at})</expression>
    </formulas>
    <formulas>
        <name>newQuantityfromOSO</name>
        <dataType>Number</dataType>
        <expression>{!GetProductionOrderToSplit.Q__c} - {!Quantity_to_Split_at}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PO Splits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PO Splits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewProductionOrder_0</name>
        <label>CreateNewProductionOrder</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Production_Order_Quantity_in_Current_Production_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Assigned_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bus__c</field>
            <value>
                <elementReference>Get_Bus_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buy_Design_Auditors__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Buy_Design_Auditors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buy_Design_Check_Hours__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Buy_Design_Check_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buy_Design_Completion_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Buy_Design_Completion_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Expected_Release_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Current_Expected_Release_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Order_Release_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Engineering_Order_Release_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Estimated_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Design_Review_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Final_Design_Review_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material_Undefined__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Material_Undefined__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newProductionOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSD__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Processing_Actual_Hours_Post_SWOR__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Order_Processing_Actual_Hours_Post_SWOR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Processing_Actual_Hours_Pre_SWO_R__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Order_Processing_Actual_Hours_Pre_SWO_R__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Processor__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Order_Processor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Order_Release_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Production_Order_Release_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q__c</field>
            <value>
                <elementReference>newQuantityfromOSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Sales_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Check_Audit_complete_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.X1st_Check_Audit_complete_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Check_Auditors__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.X1st_Check_Auditors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Check_Completion_Hours__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.X1st_Check_Completion_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_Check_Audit_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.X2nd_Check_Audit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_Check_Completion_hours__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.X2nd_Check_Completion_hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>Production_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Bus start date which matches the new production order</description>
        <name>Get_Bus_Record</name>
        <label>Get Bus Record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewProductionOrder_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProductionOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductionOrderToSplit</name>
        <label>GetProductionOrderToSplit</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Production_Order_Splits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Production_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Production_Order_Quantity_in_Current_Production_Order</name>
        <label>Update Production Order Quantity in Current Production Order</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductionOrderToSplit.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductionOrderToSplit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Hours__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Estimated_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSD__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q__c</field>
            <value>
                <elementReference>Quantity_to_Split_at</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Production_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCurrentPO_0_0_0</name>
        <label>UpdateCurrentPO</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Bus_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetProductionOrderToSplit.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Production_Order__c</field>
            <value>
                <elementReference>newProductionOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Quantity__c</field>
            <value>
                <elementReference>newQuantityfromOSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Order_Split__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unmodified_Quantity__c</field>
            <value>
                <elementReference>Quantity_to_Split_at</elementReference>
            </value>
        </inputAssignments>
        <object>Production_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Error_in_Split_Quantity</name>
        <label>Error in Split Quantity</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Check Quantity to Split at</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Production_Order_Splits</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;The Quantity to Split at  is ({!Quantity_to_Split_at} ) and Production Order Quantity  is ( {!GetProductionOrderToSplit.Q__c} )Cannot Split a quantiy equal or greater than the existing quantity .Please re-check quantity to split.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Quantity_to_Split_at</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetProductionOrderToSplit.Quantity_from_OppoSO__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Quantity_to_Split_at</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetProductionOrderToSplit.Q__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Quantity_to_Split_at</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>GetProductionOrderToSplit.Q__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Quantity_to_Split_at</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>GetProductionOrderToSplit.Quantity_from_OppoSO__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Production_Order_Splits</name>
        <label>Production Order Splits</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_Quantity_to_Split_at</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <fieldText>&lt;p&gt;{!GetProductionOrderToSplit.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity_to_Split_at</name>
            <dataType>Number</dataType>
            <fieldText>Quantity # to Split at</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Quantity error please re-check! Quantity to split at should be less than existing Production Order Quantity or not equal to 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!GetProductionOrderToSplit.Q__c} &gt;{!Quantity_to_Split_at} ||{!Quantity_to_Split_at} &lt;&gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Create Production Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProductionOrderToSplit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
