force-app/main/default/flows/PO_Updates_Quantity_and_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_record_type</name>
        <label>Assign record type</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>PO_List.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0126O000001070cQAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_POList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_POList</name>
        <label>Assign the POList</label>
        <locationX>270</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>POcollectionlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PO_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBusCount</name>
        <label>AssignBusCount</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>VarBusCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Bus_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_List.Bus_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarBusCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_List.Q__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarBusCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_bus_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PO_Count</name>
        <label>PO Count</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>VarPOCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_po</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_po_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_bus_count</name>
        <label>check bus count</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Assign_the_POList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bcount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarBusCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_type</targetReference>
            </connector>
            <label>Check Bcount</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_po_count</name>
        <label>check the number of POs</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PO_Countx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarPOCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_List</targetReference>
            </connector>
            <label>Check PO Count</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>messgae</name>
        <dataType>String</dataType>
        <expression>TEXT ( {!PO_List.Bus_Count__c} ) &amp; &quot; no buses under this production order &quot;</expression>
    </formulas>
    <interviewLabel>PO - Updates Quantity and Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PO - Updates Quantity and Record Type</label>
    <loops>
        <name>PO_List</name>
        <label>PO List</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>get_po</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Bus_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_POs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bus_Count</name>
        <label>Get Bus Count</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignBusCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_List.Sales_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Production_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_List.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_po</name>
        <label>get po</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Production_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_POs</name>
        <label>Update All POs</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <inputReference>POcollectionlist</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_po</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Q__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity_from_OppoSO__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Production_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>POcollectionlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Production_Order__c</objectType>
    </variables>
    <variables>
        <name>VarBusCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarPOCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
