force-app/main/default/flows/Sales_Order_Updates_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Bus_Count</name>
        <label>Assign Bus Count</label>
        <locationX>270</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>BusCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getBus_count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PO_list.Q__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_bus_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_List</name>
        <label>Assign PO List</label>
        <locationX>270</locationX>
        <locationY>2207</locationY>
        <assignmentItems>
            <assignToReference>POCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PO_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_PO_to_archived</name>
        <label>assign PO to archived</label>
        <locationX>138</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>PO_list.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0126O000001070cQAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PO_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recordId</name>
        <label>assign recordId</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProdOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProductionOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVar</name>
        <label>AssignVar</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>VarCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPOSO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_POQ</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_and_Update_POQ</name>
        <label>Check and Update POQ</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Production_Order_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_list</targetReference>
            </connector>
            <label>PO count</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_bus_count</name>
        <label>check bus count</label>
        <locationX>270</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Assign_PO_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_bcount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_PO_to_archived</targetReference>
            </connector>
            <label>check bcount</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_SOQ</name>
        <label>check SOQ</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_and_Update_POQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSamePOSO.Q__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPOSO</targetReference>
            </connector>
            <label>Check q</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewProductionOrder</name>
        <dataType>String</dataType>
        <expression>TEXT( ABS ( VALUE ( {!$Record.Name} )))</expression>
    </formulas>
    <interviewLabel>Sales Order - Updates Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order - Updates Quantity</label>
    <loops>
        <name>PO_list</name>
        <label>PO list</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <collectionReference>getPO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getBus_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_All_POs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_bus</name>
        <label>get bus</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSamePOSO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBus_count</name>
        <label>getBus count</label>
        <locationX>270</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Bus_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_list.Sales_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Production_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PO_list.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPO</name>
        <label>getPO</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_bus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Production_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPOSO</name>
        <label>getPOSOinBus</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Production_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSamePOSO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSamePOSO.Sales_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSamePOSO</name>
        <label>getSamePOSO</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_SOQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Production_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_All_POs</name>
        <label>update All POs</label>
        <locationX>50</locationX>
        <locationY>2423</locationY>
        <inputReference>POCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>updating the Production Order Quantity from the Opportunity Sales Order</description>
        <name>Update_POQ</name>
        <label>Update POQ</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Check_and_Update_POQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProdOrder</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q__c</field>
            <value>
                <elementReference>VarCount</elementReference>
            </value>
        </inputAssignments>
        <object>Production_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_recordId</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BusCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newProdOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Production_Order__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
