force-app/main/default/flows/Sales_Order_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Driver_Manual_Complete</name>
        <label>Driver Manual Complete</label>
        <locationX>457</locationX>
        <locationY>2747</locationY>
        <actionName>Sales_Order__c.Drivers_Handbook_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Parts_Manual_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parts_Manual_Complete</name>
        <label>Parts Manual Complete</label>
        <locationX>457</locationX>
        <locationY>3203</locationY>
        <actionName>Sales_Order__c.Parts_Manual_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Schematics_Manual_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Scheamtics_Completion_email</name>
        <label>Scheamtics Completion email</label>
        <locationX>457</locationX>
        <locationY>3659</locationY>
        <actionName>Sales_Order__c.Schematics_Manual_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Service_Manual_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Service_Manual_Completed</name>
        <label>Service Manual Completed</label>
        <locationX>457</locationX>
        <locationY>4115</locationY>
        <actionName>Sales_Order__c.Service_Manual_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Parts_Optim_Date_set</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Change in Build Year</description>
        <name>Build_Year</name>
        <label>Build Year</label>
        <locationX>589</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Sales_Order_Inflation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Build_Year_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Build_Year__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Margin_Build_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Margin_Assumption</targetReference>
            </connector>
            <label>Build Year is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clear_Driver_Manual_Status</name>
        <label>Clear Driver Manual Status</label>
        <locationX>589</locationX>
        <locationY>2507</locationY>
        <defaultConnector>
            <targetReference>Clear_Parts_Manual_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>clearMuanualStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drivers_Handbook_Completion_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearDrv</targetReference>
            </connector>
            <label>clearMuanualStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clear_Parts_Manual_Status</name>
        <label>Clear Parts Manual Status</label>
        <locationX>589</locationX>
        <locationY>2963</locationY>
        <defaultConnector>
            <targetReference>Clear_Schematics_Manual_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPartsManualComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parts_Manual_Completion_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parts_Status_Clear</targetReference>
            </connector>
            <label>isPartsManualComplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clear_Schematics_Manual_Status</name>
        <label>Clear Schematics Manual Status</label>
        <locationX>589</locationX>
        <locationY>3419</locationY>
        <defaultConnector>
            <targetReference>Clear_Service_Manual_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSchematicsComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schematics_Manual_Completion_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Schematics_Manual_Status_filed</targetReference>
            </connector>
            <label>isSchematicsComplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clear_Service_Manual_Status</name>
        <label>Clear Service Manual Status</label>
        <locationX>589</locationX>
        <locationY>3875</locationY>
        <defaultConnector>
            <targetReference>Parts_Optim_Date_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isServiceManualComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Manual_Completion_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Service_Manual_Status_field</targetReference>
            </connector>
            <label>isServiceManualComplete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Sales Order have a</description>
        <name>Contract_Inflation</name>
        <label>Contract Inflation</label>
        <locationX>556</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Set_Manual_Completion_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContractInflation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Contract_Build_Year__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fcst_Inflation_Years</targetReference>
            </connector>
            <label>isContractInflation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_All_Manuals_ID</name>
        <label>Default All Manuals ID</label>
        <locationX>787</locationX>
        <locationY>5243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDefaultManuals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manuals_Identical_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parts_Manual_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Schematics_Manual_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Driver_s_Handbook_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Manual_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Manuals_ID</targetReference>
            </connector>
            <label>isDefaultManuals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Existing_Inflation</name>
        <label>Found Existing Inflation</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Margin_Reference_SO_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasInflation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Inflation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveInflation</targetReference>
            </connector>
            <label>hasInflation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manuals_ID_Cleared</name>
        <label>Manuals ID Cleared</label>
        <locationX>589</locationX>
        <locationY>5003</locationY>
        <defaultConnector>
            <targetReference>Default_Manuals_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isManualsCleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manuals_Identical_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Manuals_Identical_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Driver_s_Handbook_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Manuals_Identical_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parts_Manual_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Manuals_Identical_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Schematics_Manual_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Manuals_Identical_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Manual_Identical_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Manuals_Identical_To__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_All_Manuals_ID</targetReference>
            </connector>
            <label>isManualsCleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Margin_Reference_SO_Changed</name>
        <label>Margin Reference SO Changed</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Contract_Inflation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isChangedMarginRefSO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Margin_Reference_Sales_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Margin_Inflation_Years</targetReference>
            </connector>
            <label>isChangedMarginRefSO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parts_Optim_Date_set</name>
        <label>Parts Optim Date set</label>
        <locationX>589</locationX>
        <locationY>4331</locationY>
        <defaultConnector>
            <targetReference>Parts_Pages_Done_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPartsOptimizationDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parts_Optim_Done__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unassign_Parts_Page_Person</targetReference>
            </connector>
            <label>isPartsOptimizationDone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parts_Pages_Done_Set</name>
        <label>Parts Pages Done Set</label>
        <locationX>589</locationX>
        <locationY>4667</locationY>
        <defaultConnector>
            <targetReference>Manuals_ID_Cleared</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPartsPagesDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parts_Pages_Done__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unassign_Parts_Manual_person</targetReference>
            </connector>
            <label>isPartsPagesDone</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Inflation when Margin Assumption Changes</description>
        <name>Sales_Order_Inflation</name>
        <label>Sales Order Inflation</label>
        <locationX>589</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Set_Manual_Completion_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Margin_Assumption_or_Ref_SO_is_Changed</name>
            <conditionLogic>(1 OR 2 OR 3) and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Margin_Assumption__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Contract_Build_Year__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Margin_Reference_Sales_Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Inflation</targetReference>
            </connector>
            <label>Margin Assumption or Ref SO is Changed</label>
        </rules>
    </decisions>
    <description>Changed inflation year calculation</description>
    <environments>Default</environments>
    <formulas>
        <description>Numeric value of Current Build Year of this Sales Order</description>
        <name>BuildYear</name>
        <dataType>Number</dataType>
        <expression>value({!CurrentBuildYear})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcCompletionDate</name>
        <dataType>Date</dataType>
        <expression>IF( 
AND( 
ISBLANK({!$Record.Drivers_Handbook_Completion_Date__c} ), 
ISBLANK({!$Record.Service_Manual_Completion_Date__c} ), 
ISBLANK({!$Record.Schematics_Manual_Completion_Date__c} ), 
ISBLANK({!$Record.Parts_Manual_Completion_Date__c} )
), 
NULL, 
DATE(1900, 01, 01) + 
MAX( 
BLANKVALUE({!$Record.Drivers_Handbook_Completion_Date__c}, DATE(1900, 01, 01)) - DATE(1900, 01, 01), 
BLANKVALUE({!$Record.Service_Manual_Completion_Date__c}, DATE(1900, 01, 01)) - DATE(1900, 01, 01), 
BLANKVALUE({!$Record.Schematics_Manual_Completion_Date__c}, DATE(1900, 01, 01)) - DATE(1900, 01, 01), 
BLANKVALUE({!$Record.Parts_Manual_Completion_Date__c}, DATE(1900, 01, 01)) - DATE(1900, 01, 01)
) 
)</expression>
    </formulas>
    <formulas>
        <description>Year of Start date</description>
        <name>CurrentBuildYear</name>
        <dataType>String</dataType>
        <expression>text(year({!$Record.Start_Date__c}))</expression>
    </formulas>
    <formulas>
        <description>Margin Year Associated with this Sales Order</description>
        <name>CurrentMarginYear</name>
        <dataType>String</dataType>
        <expression>{!$Record.Margin_Assumption__r.Name}</expression>
    </formulas>
    <formulas>
        <description>Check for new record</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Year of Start Date of referenced Sales Order</description>
        <name>MarginRefSaleOrderStartYear</name>
        <dataType>Number</dataType>
        <expression>year({!$Record.Margin_Reference_Sales_Order__r.Start_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Sales Order Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Updates</label>
    <loops>
        <description>Add Years of Inflation</description>
        <name>Create_Inflation</name>
        <label>Create Inflation</label>
        <locationX>72</locationX>
        <locationY>1643</locationY>
        <collectionReference>Margin_Inflation_Years</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inflation_Year</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Manual_Completion_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fcst_Inflation</name>
        <label>Fcst Inflation</label>
        <locationX>424</locationX>
        <locationY>1763</locationY>
        <collectionReference>Fcst_Inflation_Years</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Fcst_Inflation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Manual_Completion_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Fcst_Inflation</name>
        <label>Create Fcst Inflation</label>
        <locationX>512</locationX>
        <locationY>1883</locationY>
        <connector>
            <targetReference>Fcst_Inflation</targetReference>
        </connector>
        <inputAssignments>
            <field>CNG_Inflation__c</field>
            <value>
                <elementReference>Fcst_Inflation.CNG_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diesel_Inflation__c</field>
            <value>
                <elementReference>Fcst_Inflation.Diesel_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Electric_inflation__c</field>
            <value>
                <elementReference>Fcst_Inflation.Electric_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hybrid_Inflation__c</field>
            <value>
                <elementReference>Fcst_Inflation.Hybrid_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Assumption__c</field>
            <value>
                <elementReference>Fcst_Inflation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Fcst_Inflation.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order_Inflation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Inflation_Year</name>
        <label>Inflation Year</label>
        <locationX>160</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Create_Inflation</targetReference>
        </connector>
        <inputAssignments>
            <field>CNG_Inflation__c</field>
            <value>
                <elementReference>Create_Inflation.CNG_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diesel_Inflation__c</field>
            <value>
                <elementReference>Create_Inflation.Diesel_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Electric_inflation__c</field>
            <value>
                <elementReference>Create_Inflation.Electric_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hybrid_Inflation__c</field>
            <value>
                <elementReference>Create_Inflation.Hybrid_Inflation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Assumption__c</field>
            <value>
                <elementReference>Create_Inflation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Create_Inflation.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order_Inflation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Delete related inflation records</description>
        <name>RemoveInflation</name>
        <label>RemoveInflation</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Margin_Reference_SO_Changed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Margin_Reference_SO_Changed</targetReference>
        </faultConnector>
        <inputReference>Existing_Inflation</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Find any current Sales Order Inflation records</description>
        <name>Existing_Inflation</name>
        <label>Existing Inflation</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Inflation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order_Inflation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fcst_Inflation_Years</name>
        <label>Fcst Inflation Years</label>
        <locationX>424</locationX>
        <locationY>1643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fcst_Inflation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Build_Year_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.New_Contract_Build_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Build_Year_Value__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>BuildYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Margin_Assumption__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Build Year Margin Assumption</description>
        <name>Margin_Assumption</name>
        <label>Margin Assumption</label>
        <locationX>457</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Margin_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentBuildYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Margin_Assumption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Years of Inflation from Sold Year to Build Year</description>
        <name>Margin_Inflation_Years</name>
        <label>Margin Inflation Years</label>
        <locationX>72</locationX>
        <locationY>1523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inflation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Build_Year_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>MarginRefSaleOrderStartYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Build_Year_Value__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>BuildYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Margin_Assumption__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_All_Manuals_ID</name>
        <label>Clear All Manuals ID</label>
        <locationX>391</locationX>
        <locationY>5123</locationY>
        <inputAssignments>
            <field>Driver_s_Handbook_Identical_To__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parts_Manual_Identical_To__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schematics_Manual_Identical_To__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Manual_Identical_To__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Schematics_Manual_Status_filed</name>
        <label>Clear Schematics Manual Status filed</label>
        <locationX>457</locationX>
        <locationY>3539</locationY>
        <connector>
            <targetReference>Scheamtics_Completion_email</targetReference>
        </connector>
        <inputAssignments>
            <field>Schem_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Service_Manual_Status_field</name>
        <label>Clear Service Manual Status field</label>
        <locationX>457</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>Service_Manual_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>SVC_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ClearDrv</name>
        <label>ClearDrv</label>
        <locationX>457</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>Driver_Manual_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>DVR_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Default_Manuals_ID</name>
        <label>Default Manuals ID</label>
        <locationX>787</locationX>
        <locationY>5123</locationY>
        <connector>
            <targetReference>Default_All_Manuals_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Manuals_Identical_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Driver_s_Handbook_Identical_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parts_Manual_Identical_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_s_Handbook_Identical_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Schematics_Manual_Identical_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_s_Handbook_Identical_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Manual_Identical_To__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manuals_Identical_To__c</field>
            <value>
                <elementReference>$Record.Driver_s_Handbook_Identical_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Parts_Status_Clear</name>
        <label>Parts Status Clear</label>
        <locationX>457</locationX>
        <locationY>3083</locationY>
        <connector>
            <targetReference>Parts_Manual_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Parts_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_All_Manuals_ID</name>
        <label>Set All Manuals ID</label>
        <locationX>655</locationX>
        <locationY>5363</locationY>
        <inputAssignments>
            <field>Driver_s_Handbook_Identical_To__c</field>
            <value>
                <elementReference>$Record.Manuals_Identical_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parts_Manual_Identical_To__c</field>
            <value>
                <elementReference>$Record.Manuals_Identical_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schematics_Manual_Identical_To__c</field>
            <value>
                <elementReference>$Record.Manuals_Identical_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Manual_Identical_To__c</field>
            <value>
                <elementReference>$Record.Manuals_Identical_To__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Manual_Completion_Date</name>
        <label>Set Manual Completion Date</label>
        <locationX>589</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>Clear_Driver_Manual_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Drivers_Handbook_Completion_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Manual_Completion_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Schematics_Manual_Completion_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parts_Manual_Completion_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Manual_Completion_Date__c</field>
            <value>
                <elementReference>CalcCompletionDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set the Margin Assumption to be the same year of the Sales Order Start Date</description>
        <name>Set_Margin_Year</name>
        <label>Set Margin Year</label>
        <locationX>457</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Sales_Order_Inflation</targetReference>
        </connector>
        <inputAssignments>
            <field>Margin_Assumption__c</field>
            <value>
                <elementReference>Margin_Assumption.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Unassign_Parts_Manual_person</name>
        <label>Unassign Parts Manual person</label>
        <locationX>457</locationX>
        <locationY>4787</locationY>
        <connector>
            <targetReference>Manuals_ID_Cleared</targetReference>
        </connector>
        <inputAssignments>
            <field>Parts_PDF_Person__c</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Unassign_Parts_Page_Person</name>
        <label>Unassign Parts Page Person</label>
        <locationX>457</locationX>
        <locationY>4451</locationY>
        <connector>
            <targetReference>Parts_Pages_Done_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>Parts_Manual_Processor__c</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>463</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Year</targetReference>
        </connector>
        <object>Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NonePicked</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
