force-app/main/default/flows/Sales_Order_Change_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>eBuseNotification</name>
        <label>eBuseNotification</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <actionName>Sales_Order__c.Electric_SO_Changes</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BOM_Team_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_PSM_New_SO</name>
        <label>Notify PSM New SO</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <actionName>Sales_Order__c.New_Sales_Order_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Owner_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotifyBomGroup</name>
        <label>NotifyBomGroup</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <actionName>Sales_Order__c.Sales_Order_New_Start_Date_Notify_Ron_Quebbeman</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Sales_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotifyPSMStartChange</name>
        <label>NotifyPSMStartChange</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Sales_Order__c.Sales_Order_New_Start_Date_Notify_PSM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Electric_Bus_Changes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>OrderIsReleased</name>
        <label>OrderIsReleased</label>
        <locationX>50</locationX>
        <locationY>2375</locationY>
        <actionName>Sales_Order__c.Release_Order</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Sales_Admin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>postAward</name>
        <label>postAward</label>
        <locationX>50</locationX>
        <locationY>3167</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PostAwardChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>preAwardPost</name>
        <label>preAwardPost</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Post_Award_Notify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PreAwardChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ReassignedNotify</name>
        <label>ReassignedNotify</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <actionName>Sales_Order__c.Sales_Order_Reassigned_Notify_PSM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ReleaseOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Send BOM Team Notification if Start date change is within 30 weeks</description>
        <name>BOM_Team_notification</name>
        <label>BOM Team notification</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>New_Sales_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isChanged3week</name>
            <conditionLogic>1 and (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weeks_from_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Weeks_from_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotifyBomGroup</targetReference>
            </connector>
            <label>isChanged30week</label>
        </rules>
    </decisions>
    <decisions>
        <description>Notify when specific changes made to electric Bus orders</description>
        <name>Electric_Bus_Changes</name>
        <label>Electric Bus Changes</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>BOM_Team_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isChangedEBus</name>
            <conditionLogic>3 and (1 or 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PO_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electric</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eBuseNotification</targetReference>
            </connector>
            <label>isChangedEBus</label>
        </rules>
    </decisions>
    <decisions>
        <description>Actions when a new Sales Order is created</description>
        <name>New_Sales_Order</name>
        <label>New Sales Order</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNewSO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_PSM_New_SO</targetReference>
            </connector>
            <label>isNewSO</label>
        </rules>
    </decisions>
    <decisions>
        <description>The owner (typically PSM) of the Sales Order has been changed</description>
        <name>Owner_Changed</name>
        <label>Owner Changed</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>ReleaseOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isChangedOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPriorOwner</targetReference>
            </connector>
            <label>isChangedOwner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Post to Chatter when Post Award is set</description>
        <name>Post_Award_Notify</name>
        <label>Post Award Notify</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPostAward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Post_Award_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Post_Award_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>postAward</targetReference>
            </connector>
            <label>isPostAward</label>
        </rules>
    </decisions>
    <decisions>
        <description>PreAware has been completed</description>
        <name>preAwardComplete</name>
        <label>preAwardComplete</label>
        <locationX>182</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Post_Award_Notify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCompltedPreaward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pre_Award_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Award_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>preAwardPost</targetReference>
            </connector>
            <label>isCompltedPreaward</label>
        </rules>
    </decisions>
    <decisions>
        <description>Notification and processing of released sales order</description>
        <name>ReleaseOrder</name>
        <label>ReleaseOrder</label>
        <locationX>182</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isReleased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Release_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setReleaseDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isReleased</label>
        </rules>
    </decisions>
    <decisions>
        <description>The start date has been changed</description>
        <name>Start_Date_Change</name>
        <label>Start Date Change</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Electric_Bus_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isChangedStartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotifyPSMStartChange</targetReference>
            </connector>
            <label>isChangedStartDate</label>
        </rules>
    </decisions>
    <description>Send email on specific changes to Sales Orders</description>
    <environments>Default</environments>
    <formulas>
        <description>No Prior Sales Order Release date</description>
        <name>BlankSORelease</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record__Prior.Sales_Order_Release__c})</expression>
    </formulas>
    <formulas>
        <description>A new Sales Order record is being created</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <formulas>
        <description>today&apos;s date</description>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Sales Order Change Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Change Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Admin</name>
        <label>Get Sales Admin</label>
        <locationX>182</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>preAwardComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Afzal Khan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set field to prior owner</description>
        <name>setPriorOwner</name>
        <label>setPriorOwner</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>ReassignedNotify</targetReference>
        </connector>
        <inputAssignments>
            <field>Previous_SO_Owner__c</field>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set date of release to today</description>
        <name>setReleaseDate</name>
        <label>setReleaseDate</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>OrderIsReleased</targetReference>
        </connector>
        <inputAssignments>
            <field>Release_Order__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Release__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Date_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>test, st</stringValue>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Post Award Chatter Message</description>
        <name>PostAwardChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_Sales_Admin.Id}] the Post Award is Complete</text>
    </textTemplates>
    <textTemplates>
        <description>Pre Award Chatter Message for Post to Chatter Action</description>
        <name>PreAwardChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_Sales_Admin.Id}] the Pre Award is Complete</text>
    </textTemplates>
</Flow>
