force-app/main/default/flows/Service_Resource_Auto_populate_PDI_Plan_on_Bus_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_SR_recordId</name>
        <label>Assign SR recordId</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>SRrecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Assigned_Resource__r.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PDI_date_completed_in_Bus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>selecting Work PDI plan based on the Mode of Bus</description>
        <name>Check_the_Bus_Mode_with_PDI_Plan</name>
        <label>Check the Bus Mode with PDI Plan</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mode_is_CNG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Mode_from_Bus.Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CNG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_PDI_Plan</targetReference>
            </connector>
            <label>If Mode is CNG</label>
        </rules>
        <rules>
            <name>If_Mode_is_Electric</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Mode_from_Bus.Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electric</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PDI_Plan_with_PDI_BEB</targetReference>
            </connector>
            <label>If Mode is Electric</label>
        </rules>
        <rules>
            <name>If_Mode_is_Diesel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Mode_from_Bus.Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diesel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PDI_with_Diesel</targetReference>
            </connector>
            <label>If Mode is Diesel</label>
        </rules>
        <rules>
            <name>If_Mode_is_Hybrid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Mode_from_Bus.Mode__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PDI_with_Hybrid</targetReference>
            </connector>
            <label>If Mode is Hybrid</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_status_is_close</name>
        <label>if status is close</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_date</targetReference>
            </connector>
            <label>Check the status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service Resource_Auto populate PDI Plan on Bus Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Request_Auto populate PDI Plan on Bus Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Mode_from_Bus</name>
        <label>get Mode from Bus</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Bus_Mode_with_PDI_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Bus__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Appointment</name>
        <label>get Service Appointment</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Bus_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bus_Acceptance</name>
        <label>Update Bus Acceptance</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Update_Bus_InService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bus_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Work_Order__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buses__c</field>
            <value>
                <elementReference>$Record.Bus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>$Record.Mileage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDI_Owner__c</field>
            <value>
                <elementReference>$Record.PDI_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Bus_Acceptance_Letter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bus_InService</name>
        <label>Update Bus In Service</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>if_status_is_close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bus_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Work_Order__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bus__c</field>
            <value>
                <elementReference>$Record.Bus__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>$Record.Mileage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDI_Owner_AR__c</field>
            <value>
                <elementReference>$Record.PDI_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Acknowledgment_of_Bus_In_Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the VIN # from bus</description>
        <name>Update_Bus_Work_Order</name>
        <label>Update Bus Work Order</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Bus_Acceptance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Bus_Number__c</field>
            <value>
                <elementReference>$Record.Bus__r.Customer_Bus_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>$Record.Bus__r.Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>get_Service_Appointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIN_Number__c</field>
            <value>
                <elementReference>$Record.Bus__r.VIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_date_PDI_is_completed</name>
        <label>Update date PDI is completed</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Assign_SR_recordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bus_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_PDI_is_100_completed__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <object>Acknowledgment_of_Bus_In_Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>When BWO Status is closed the PDI date completed will update to that date in Bus</description>
        <name>Update_PDI_date_completed_in_Bus</name>
        <label>Update PDI date completed in Bus</label>
        <locationX>446</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Bus__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDI_Completion_Date__c</field>
            <value>
                <elementReference>$Record.Close_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDI_Owner__c</field>
            <value>
                <elementReference>SRrecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDI_Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Bus__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PDI_Plan_with_PDI_BEB</name>
        <label>Update PDI Plan with PDI BEB</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>get_Service_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>PDI_Plan__c</field>
            <value>
                <stringValue>PDI BEB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PDI_with_Diesel</name>
        <label>Update PDI with Diesel</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>get_Service_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>PDI_Plan__c</field>
            <value>
                <stringValue>PDI Diesel</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PDI_with_Hybrid</name>
        <label>Update PDI with Hybrid</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>get_Service_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>PDI_Plan__c</field>
            <value>
                <stringValue>PDI Hybrid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_date</name>
        <label>Update the PDI date completed in Bus acceptance</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_date_PDI_is_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bus_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_PDI_is_100_completed__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <object>Bus_Acceptance_Letter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_PDI_Plan</name>
        <label>Update the PDI Plan</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>get_Service_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>PDI_Plan__c</field>
            <value>
                <stringValue>PDI CNG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Mode_from_Bus</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Work_Plan_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Work_Plan_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDI Issues</stringValue>
            </value>
        </filters>
        <object>Bus_Work_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SRrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
