force-app/main/default/flows/Update_Project_decision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>check_Approved_PMR_with_date</name>
        <label>When Expected date is entered</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Approved_with_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_final_project_decision_with_date</targetReference>
            </connector>
            <label>check Approved with Expected Date</label>
        </rules>
        <rules>
            <name>Expected_Start_date_with_Committee_Recommendation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_final_project_decision_with_date</targetReference>
            </connector>
            <label>Expected Start date with Committee Recommendation</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_operating_commitee</name>
        <label>check operating commitee recommendations</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>check_Approved_PMR_with_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCR_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_PPP_phase</targetReference>
            </connector>
            <label>OCR Approved</label>
        </rules>
        <rules>
            <name>OCR_Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>OCR Deferred</label>
        </rules>
        <rules>
            <name>OCR_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_FPD</targetReference>
            </connector>
            <label>OCR Denied</label>
        </rules>
        <rules>
            <name>OCR_Merged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Committee_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatefinalkwithDecisionMerge</targetReference>
            </connector>
            <label>OCR Merged</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_stage</name>
        <label>check PMrecommdations</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>check_operating_commitee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Scope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_path</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Approved_ne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted - Needs Evaluation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Scope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record</targetReference>
            </connector>
            <label>Accepted-Needs Evaluation</label>
        </rules>
        <rules>
            <name>Merged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Scope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_final_decisionMerge</targetReference>
            </connector>
            <label>Merged</label>
        </rules>
        <rules>
            <name>Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Scope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_pathc</targetReference>
            </connector>
            <label>Deferred</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Manager_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Scope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_path_to_Complete</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ApprovedMesswithOperatingCommitteDate</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Name__c}  &amp; &quot; is &quot; &amp; TEXT({!$Record.Committee_Recommendation__c})</expression>
    </formulas>
    <formulas>
        <name>CancelledWithDate</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Name__c}&amp; &quot; project is Denied &quot;</expression>
    </formulas>
    <formulas>
        <name>CancelMess</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Name__c} &amp; &quot; project is  &quot; &amp; TEXT ( {!$Record.Product_Manager_Recommendation__c})</expression>
    </formulas>
    <formulas>
        <name>DeferredMessagewithDate</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Name__c}&amp; &quot; project Deferred &quot;</expression>
    </formulas>
    <formulas>
        <name>FinalDec</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Name__c} &amp;  &quot; project approved with start date: &quot;  &amp;  TEXT ( {!$Record.Expected_Start_Date__c})</expression>
    </formulas>
    <formulas>
        <name>FInalDecisionMerged</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Name__c} &amp; &quot; is  &quot; &amp;  TEXT ( {!$Record.Committee_Recommendation__c})</expression>
    </formulas>
    <formulas>
        <name>messagedef</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Name__c} &amp; &quot; project is  &quot; &amp; TEXT({!$Record.Product_Manager_Recommendation__c})</expression>
    </formulas>
    <formulas>
        <name>timet</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Complete_Date__c} -{!$Record.PI_stage_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Project decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project decision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_update_final_project_decision_with_date</name>
        <label>Copy 1 of update final project decision with date</label>
        <locationX>710</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Manager_Recommendation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted - Needs Evaluation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Committee_Recommendation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>FinalDec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update FPD</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>DeferredMessagewithDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_final_decisionMerge</name>
        <label>update final decisionMerge</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>messagedef</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_final_project_decision_with_date</name>
        <label>update final project decision with date</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Manager_Recommendation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>FinalDec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_FPD</name>
        <label>update FPD</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>CancelledWithDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_path</name>
        <label>update path</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>check_operating_commitee</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_path_to_Complete</name>
        <label>Update path to Complete</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>CancelMess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_pathc</name>
        <label>update path to Complete</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>messagedef</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_record</name>
        <label>update record</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>check_operating_commitee</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Benefits_Evaluation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_PPP_phase</name>
        <label>update to PPP phase</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>check_Approved_PMR_with_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Project Plan Phase</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatefinalkwithDecisionMerge</name>
        <label>updatefinalwithDecisionMerge</label>
        <locationX>974</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Project_Decision__c</field>
            <value>
                <elementReference>FInalDecisionMerged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracker__c</field>
            <value>
                <elementReference>timet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_stage</targetReference>
        </connector>
        <filterFormula>ISCHANGED( {!$Record.Product_Manager_Recommendation__c} )  ||  ISCHANGED( {!$Record.Committee_Recommendation__c} ) || ISCHANGED({!$Record.Expected_Start_Date__c}) || NOT( ISBLANK({!$Record.Expected_Start_Date__c})) || TEXT( {!$Record.Status__c}) = &quot;Project Plan Phase&quot;</filterFormula>
        <object>Project_Tracker__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovedMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
