force-app/main/default/flows/Update_PO_splits_with_Quantity_and_Bus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ProductionOrderQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_updated_PO_in_Bus_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>490</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPOinBus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_bus_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_bus_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_updated_PO_in_Bus_Loop</name>
        <label>Assign updated PO in Bus Loop</label>
        <locationX>490</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Loop_bus_list.Production_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_bus_list.Production_Order_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductionOrderQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CAssign_Count</name>
        <label>CAssign Count</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ProductionOrderQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAssign_updated_PO_in_Bus_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CAssign_to_Collection</name>
        <label>CAssign to Collection</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPOinBus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bus_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bus_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CAssign_updated_PO_in_Bus_Loop</name>
        <label>CAssign updated PO in Bus Loop</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Bus_Loop.Production_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_New_PO_SO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bus_Loop.Production_Order_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductionOrderQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAssign_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Bus_names_more_than_PO_name</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Bus names more than PO name</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_Bus_names_more_than_PO_name</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getBusRecords</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>SplitListOfBus</targetReference>
        </connector>
        <formula>OR ( {!currentItem_Bus_names_more_than_PO_name.Name} = {!$Record.Name},
{!currentItem_Bus_names_more_than_PO_name.Name} &gt; {!$Record.Name} )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Bus_List_to_be_updated</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Bus List to be updated</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_Get_Bus_List_to_be_updated_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getBusRecords</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Match_The_Quantity_of_Split_Production_Order_with_Bus</targetReference>
        </connector>
        <formula>OR ( {!currentItem_Get_Bus_List_to_be_updated_0.Name} = {!$Record.Name} , 
{!currentItem_Get_Bus_List_to_be_updated_0.Name} &gt;{!$Record.Name} )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Match_The_Quantity_of_Split_Production_Order_with_Bus</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Match The Quantity of Split Production Order with Bus</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignNextValueToReference>currentItem_Match_The_Quantity_of_Split_Production_Order_with_Bus</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Bus_List_to_be_updated</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Loop_bus_list</targetReference>
        </connector>
        <formula>{!currentItem_Match_The_Quantity_of_Split_Production_Order_with_Bus.Name} &lt; ( TEXT ( VALUE ({!$Record.Name}) + {!$Record.Q__c}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>SplitListOfBus</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Split List Of Bus</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNextValueToReference>currentItem_SplitListOfBus</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Bus_names_more_than_PO_name</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Bus_Loop</targetReference>
        </connector>
        <formula>{!currentItem_SplitListOfBus.Name} &lt; ( TEXT ( VALUE ( {!$Record.Name}) + {!$Record.Q__c} ) )</formula>
    </collectionProcessors>
    <decisions>
        <name>Check_PO_equals_SO</name>
        <label>Check PO equals SO</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Bus_List_to_be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PO != SO</defaultConnectorLabel>
        <rules>
            <name>Is_PO_SO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sales_Order__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bus_names_more_than_PO_name</targetReference>
            </connector>
            <label>Is PO = SO</label>
        </rules>
    </decisions>
    <decisions>
        <description>if order processor is added the assigned date should be today</description>
        <name>update_assigned_date</name>
        <label>update assigned date</label>
        <locationX>226</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_order_processor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Processor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Processor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Order_Processor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_date</targetReference>
            </connector>
            <label>check order processor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>testingvaluepo</name>
        <dataType>String</dataType>
        <expression>TEXT ( ABS ( VALUE({!$Record.Name})) + {!$Record.Q__c})</expression>
    </formulas>
    <interviewLabel>Update PO splits with Quantity and Bus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PO splits with Quantity and Bus</label>
    <loops>
        <name>Bus_Loop</name>
        <label>Bus Loop</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <collectionReference>SplitListOfBus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAssign_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Bus_with_new_PO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_bus_list</name>
        <label>Loop bus list</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <collectionReference>Match_The_Quantity_of_Split_Production_Order_with_Bus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Bus_with_new_PO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getBusRecords</name>
        <label>getBusRecords</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PO_equals_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPOrecords</name>
        <label>getPOrecords</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBusRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Production_Order__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Bus_with_new_PO</name>
        <label>update Bus with new PO</label>
        <locationX>226</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>update_assigned_date</targetReference>
        </connector>
        <inputReference>UpdatedPOinBus</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_date</name>
        <label>update date</label>
        <locationX>94</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPOrecords</targetReference>
        </connector>
        <filterFormula>OR (  ISCHANGED({!$Record.Q__c}), ISNULL({!$Record.Q__c}),  {!$Record.Name} &gt;{!$Record.Sales_Order__r.Name} , {!$Record.Name} ={!$Record.Sales_Order__r.Name},  ISNEW( ) )</filterFormula>
        <object>Production_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>currentItem_Bus_names_more_than_PO_name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Bus_Quantity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Bus_List_to_be_updated_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Match_The_Quantity_of_Split_Production_Order_with_Bus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>currentItem_New_PO_SO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Production_Order__c</objectType>
    </variables>
    <variables>
        <name>currentItem_SplitListOfBus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
    <variables>
        <name>ProductionOrderQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdatedPOinBus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bus__c</objectType>
    </variables>
</Flow>
