force-app/main/default/flows/UpdateSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>1810</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>GetRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Assigned_Resource.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_SA_AR_and_Start_Date</name>
        <label>Assign SA, AR and Start Date</label>
        <locationX>930</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>List_all_Bus_Work_Orders.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SA_records_when_scheduled.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_all_Bus_Work_Orders.Assigned_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assigned_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_all_Bus_Work_Orders.PDI_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResource.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_all_Bus_Work_Orders.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_SA_records_when_scheduled.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_all_Bus_Work_Orders.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>930</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>AssigntoBWO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>List_all_Bus_Work_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_all_Bus_Work_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Record_ID</name>
        <label>Copy 1 of Assign Record ID</label>
        <locationX>754</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>GetRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_First_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_First_SA</name>
        <label>Check First SA</label>
        <locationX>842</locationX>
        <locationY>2352</locationY>
        <defaultConnector>
            <targetReference>check_status_of_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_SA_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>First SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SA_new</name>
        <label>Check if SA new</label>
        <locationX>886</locationX>
        <locationY>1920</locationY>
        <defaultConnector>
            <targetReference>Check_First_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_new_SA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.The_Service_Resource_from_the_Assigned_R__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.The_Service_Resource_from_the_Assigned_R__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Record_ID</targetReference>
            </connector>
            <label>Check new SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>842</locationX>
        <locationY>1680</locationY>
        <defaultConnector>
            <targetReference>Check_First_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_work_order</targetReference>
            </connector>
            <label>Status Cancelled</label>
        </rules>
        <rules>
            <name>Status_scheduled_and_SR_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.The_Service_Resource_from_the_Assigned_R__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.The_Service_Resource_from_the_Assigned_R__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ASR_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ASR_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_SR_and_ASR_email</targetReference>
            </connector>
            <label>Status scheduled and SR changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_status_of_SA</name>
        <label>check status of SA</label>
        <locationX>842</locationX>
        <locationY>2688</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SA_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_SA_to_dispatched_status</targetReference>
            </connector>
            <label>Check Status Scheduled</label>
        </rules>
        <rules>
            <name>Check_Status_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Work_Order</targetReference>
            </connector>
            <label>Check Status Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_work_type</name>
        <label>check work type</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PDI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA_records_when_scheduled.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_SA_with_WT_PDI</targetReference>
            </connector>
            <label>PDI</label>
        </rules>
        <rules>
            <name>Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA_records_when_scheduled.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_with_WT_T</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>Sales_Demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA_records_when_scheduled.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Demo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_with_WT_SD</targetReference>
            </connector>
            <label>Sales Demo</label>
        </rules>
        <rules>
            <name>On_Site_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA_records_when_scheduled.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_with_WT_OSV</targetReference>
            </connector>
            <label>On Site Visit</label>
        </rules>
        <rules>
            <name>In_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA_records_when_scheduled.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_with_WT_IO</targetReference>
            </connector>
            <label>In Office</label>
        </rules>
        <rules>
            <name>PDI_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SA_records_when_scheduled.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDI Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_with_WTPDII</targetReference>
            </connector>
            <label>PDI Issue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SAandInternalName</name>
        <dataType>String</dataType>
        <expression> UPPER({!get_SA_records_when_scheduled.Account.Internal_Name__c})  &amp; &quot; / &quot; &amp; UPPER({!get_SA_records_when_scheduled.WorkType.Name})</expression>
    </formulas>
    <interviewLabel>UpdateSA/WT/WO/Gantt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateSA</label>
    <loops>
        <name>List_all_Bus_Work_Orders</name>
        <label>List all Bus Work Orders</label>
        <locationX>842</locationX>
        <locationY>1104</locationY>
        <collectionReference>Get_All_BWOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_AR_and_Start_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_BWO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Assigned_Resource</name>
        <label>Copy 1 of Get Assigned Resource</label>
        <locationX>1810</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SA_records_when_scheduled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_BWOs</name>
        <label>Get All BWOs</label>
        <locationX>842</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_all_Bus_Work_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SA_records_when_scheduled.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SA_records_when_scheduled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus_Work_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>842</locationX>
        <locationY>744</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_with_Internal_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA_records_when_scheduled</name>
        <label>get SA records when scheduled</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_work_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedEndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_work_order</name>
        <label>get work order</label>
        <locationX>490</locationX>
        <locationY>1800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_status_in_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_SA_with_WT_PDI</name>
        <label>Update SA with WT PDI</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttColor__c</field>
            <value>
                <stringValue>#09d772</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BWO</name>
        <label>Update BWO</label>
        <locationX>842</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <inputReference>AssigntoBWO</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_SA_to_dispatched_status</name>
        <label>update SA to dispatched status</label>
        <locationX>578</locationX>
        <locationY>2808</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_Internal_Name</name>
        <label>Update SA with Internal Name</label>
        <locationX>842</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>Get_All_BWOs</targetReference>
        </connector>
        <inputAssignments>
            <field>ASR_Email__c</field>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResource.RelatedRecord.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <elementReference>SAandInternalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_Service_Resource_from_the_Assigned_R__c</field>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResource.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_WT_IO</name>
        <label>Update SA with WT IO</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttColor__c</field>
            <value>
                <stringValue>#a1b4d4</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_WT_OSV</name>
        <label>Update SA with WT OSV</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttColor__c</field>
            <value>
                <stringValue>#e69d87</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_WT_SD</name>
        <label>Update SA with WT SD</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttColor__c</field>
            <value>
                <stringValue>#a3e2e3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_WT_T</name>
        <label>Update SA with WT T</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttColor__c</field>
            <value>
                <stringValue>#4349f5</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_WTPDII</name>
        <label>Update SA with WT color PDI Issue</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttColor__c</field>
            <value>
                <stringValue>#df70e0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_in_Work_Order</name>
        <label>Update status in Work Order</label>
        <locationX>490</locationX>
        <locationY>1920</locationY>
        <connector>
            <targetReference>Check_First_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_SR_and_ASR_email</name>
        <label>Update the SR name and ASR email</label>
        <locationX>886</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>Check_if_SA_new</targetReference>
        </connector>
        <inputAssignments>
            <field>ASR_Email__c</field>
            <value>
                <elementReference>$Record.ASR_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_Service_Resource_from_the_Assigned_R__c</field>
            <value>
                <elementReference>$Record.The_Service_Resource_from_the_Assigned_R__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Work_Order</name>
        <label>Update the Work Order</label>
        <locationX>842</locationX>
        <locationY>2808</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>710</locationX>
        <locationY>2472</locationY>
        <connector>
            <targetReference>check_status_of_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SA_records_when_scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Send_Notification_to_FSR_before_scheduled_Start</name>
            <connector>
                <targetReference>Copy_1_of_Get_Assigned_Resource</targetReference>
            </connector>
            <label>Send Notification to FSR, 7 days before scheduled Start</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>SchedStartTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>If the resource is already booked for the same time</description>
        <name>Resourcealreadybookedforthesametime</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This Resource is already booked for the same time &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ARrecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>AssigntoBWO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bus_Work_Order__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Check_SA_is_new_and_scheduled_Status_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>GetRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
